@page
@model Express_Voiture.Pages.Admin.Voitures.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voiture.ImgUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voiture.ImgUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voiture.Prix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voiture.Prix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voiture.Annee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voiture.Annee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voiture.Marque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voiture.Marque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voiture.Modele)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voiture.Modele)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Voiture.Finition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Voiture.Finition)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Voiture?.VoitureID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
